name: oOf dynamic again

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - master
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
    
env:
  ROM_URL: http://otafsg1.h2os.com/patch/amazone2/GLO/OnePlus7Oxygen/OnePlus7Oxygen_13.W.43_GLO_043_2009072043/OnePlus7Oxygen_13.W.43_OTA_043_all_2009072043_c0e5929cf120
  ROM_NAME: OxygenOS-OP7
  PRODUCT_IMAGE: false
  OPPRODUCT_IMAGE: false
  WHOLE_VENDOR: false
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Checkout
         uses: actions/checkout@master

       - name: Initializing environments
         run: |
            sudo -E apt-get -qq update
            sudo -E apt-get -qq install git openjdk-8-jdk wget
            sudo apt-get update -y
            sudo apt-get install -y simg2img 
            sudo apt-get install zip gzip tar
            sudo -E apt-get install expect
            sudo pip3 install --upgrade setuptools
            sudo pip3 install --upgrade pip
            sudo apt update 2>/dev/null | grep packages
        
       - name: Initializing Payloads
         run: |
              sudo aria2c http://tdrive.manofuranium.workers.dev/payload_dumper_tool_by_ius.zip
              sudo unzip *.zip
              cd payload_dumper
              sudo python3 -m pip install protobuf
              
       - name: Downloading FW
         run: |
              cd payload_dumper
              sudo aria2c $ROM_URL
              
       - name: Extracting Payload
         run: |
              cd payload_dumper    
              sudo unzip *.zip
              sudo python3 payload_dumper.py payload.bin
              ls
              
       - name: Copying final zipp
         run: |
              mkdir lol
              sudo cp -r payload_dumper/system.img lol
              sudo cp -r payload_dumper/vendor.img lol
   
       - name: Copying product.img
         if: env.PRODUCT_IMAGE == 'true'
         run: sudo cp -r payload_dumper/product.img lol
  
       - name: Copying opproduct.img
         if: env.OPPRODUCT_IMAGE == 'true'
         run: sudo cp -r payload_dumper/opproduct.img lol
              
       - name: Extracting Product Overlay
         if: env.PRODUCT_IMAGE == 'true'
         run: |
              cd lol
              sudo mkdir lel
              sudo mount -ro loop product.img lel/
              sudo zip -r $ROM_NAME-SystemOverlay.zip lel/overlay
              curl -sL https://git.io/file-transfer | sh
              ./transfer gof $ROM_NAME-SystemOverlay.zip
       
       - name: Extracting System Overlay
         if: env.PRODUCT_IMAGE == 'false'
         run: |
              cd lol
              sudo mkdir lel
              sudo mount -ro loop system.img lel/
              sudo zip -r $ROM_NAME-SystemOverlay.zip lel/system/product/overlay
              curl -sL https://git.io/file-transfer | sh
              ./transfer wet $ROM_NAME-SystemOverlay.zip
              
       - name: Extracting Vendor Overlay
         run: |
              cd lol
              sudo mkdir lel1
              sudo mount -ro loop vendor.img lel1/
              sudo zip -r $ROM_NAME-VendorOverlay.zip lel1/overlay
              ./transfer wet $ROM_NAME-VendorOverlay.zip
              
       - name: Copying product.img
         if: env.WHOLE_VENDOR == 'true' 
         run: |
              cd lol
              sudo mkdir lel2
              sudo mount -ro loop vendor.img lel2/
              sudo zip -r $ROM_NAME-Vendor.zip lel2
              ./transfer gof $ROM_NAME-Vendor.zip
      
       - name: Extracting OnePlus Folder
         if: env.OPPRODUCT_IMAGE == 'true'
         run: |
              cd lol
              sudo mkdir lel2
              sudo mount -ro loop opproduct.img lel2/
              sudo zip -r $ROM_NAME-OneplusFolder.zip lel2/build.prop lel2/feature_list
              ./transfer gof $ROM_NAME-OneplusFolder.zip
       
       - name: Initializing telegram bot
         env:
              TOKEN: ${{ secrets.TOKEN }}

         run: |
              sudo install telegram /usr/bin
              chmod +x initial.sh
              ./initial.sh
              
       - name: Execute Shell Script
         env:
              TOKEN: ${{ secrets.TOKEN }}

         run: |
               chmod +x upload1.sh
               ./upload1.sh
